h1,h2,h3{
  color: #636363;
}

.box {
  width: 1200px;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(157.42deg, #0096E6 -3.17%, #FFFFFF 205.48%);

  display: flex;
}

.Wecare{
  width: 44vw;
  margin-bottom: 67px;
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  color: #FFFFFF;
}

.Wecare h1{
  font-weight: bold;
  font-size: 90px;
  color: #FFFFFF;
  margin-bottom: 37px;
  text-align: center
}

.Wecare p{
  width: 296px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;

  text-align: end;
}

.formCadastro{
  width: 100%;
  background: #f9f9f9;
  
}

.title{
  color: #636363;
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
}


.Linha {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;

}

.Linha div:first-child {
  margin-right: 10px;
}

.LinhaText{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center
  
}

.Endereco{
  margin: 20px 0;
  text-align: center; 
}

.textarea{
  width: 76%;
  height: 138px;
}

.btnEnviar{
    padding: 17px 56px;
    margin-bottom: 21px;
    border: none;
    border-radius: 9px;
    color: white;
    background: #0096E6;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.04em;
    position: relative;
    left: 447px;  
}

