.wrapper{
  margin-bottom: 0.5rem;
  width: 522px;
  height: auto;
}

.textarea, .label{
  font-family: 'Roboto', sans-serif;
}

.label{
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  color:#626252;
}

.textarea{
  width: 100%;
  height: 118px;
  border: none;
  background: #ECECEC;
  resize: none;
  border-radius: 9px;
}

.textarea::placeholder{
  padding: 10px 13px;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #CACACA;
}