.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button {
  border: none;
  padding: 1rem 2rem;
  margin-top: 3rem;
  border-radius: 4px;
  color: white;
  background: #0096e6;
}
