.LargeButton{
  width: 100px;
  color: #FFFFFF;
  background: #00ADEF;
  border: none;
  border-radius: 9px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
}

.ReCAPTCHA{
  justify-content: center;
}

.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
}